body {
    background-color: #E9ECEF;
}

.logo {
    max-width: 400px;
}

.char-select {
    height: 300px;
}

.char-container {
    width: 300px;
    transition: transform 0.3s ease, margin 0.3s ease, font-size 0.1s ease;
}

.characters {
    max-height: 100px;
    margin-bottom: 10px;
}

.char-text {
    font-size: 1.5em;
    transition: font-size 0.3s ease;
}

.char-container:hover{
    font-size: 0.6em;
    transform: scale(1.3);
    margin-bottom: 17px;
}

.arena-set {
    background-color: green;
    background-image: url("../images/arena-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 385px;
    width: 640px;
}

.char-arena {
    height: 100px; 
}

.mt-hero {
    margin-top: 120px;
}

.mt-enemy {
    margin-left: auto;
    margin-bottom: 80px;
}

.hp-stat {
    background-color: #E9ECEF;
    border-radius: 5px;
}